
.logo {
    user-select: none;
    background-color: var(--main-light);
    margin: 0 10px;

    text-align: center;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    padding: 0 6px;
    border-radius: 8px;
}