@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary page colors */
  --background: #ffffff;
  --background-shade: #ededed;
  --background-shade1: #cccccc;
  --foreground: #202020;
  --foreground-shade: #333333;
  --widget: #cccccc;
  --widget-hidden: #eeeeee;
  /* Fixed primary page colors */
  --main-white: #ffffff;
  --main-white-shade: #ededed;
  --main-black: #202020;
  --main-black-shade: #333333;
  /* Main page colors */
  --main-red: #B54147;
  --main-yellow: #CD962D;
  --main-beige: #F7F2DC;
  --main: hsl(215, 59%, 36%);
  --main-dark: hsl(215, 59%, 21%);
  --main-darker: hsl(215, 59%, 31%);
  --main-light: hsl(215, 59%, 46%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181818;
    --background-shade: #292929;
    --background-shade1: #454545;
    --foreground: #ededed;
    --foreground-shade: #dbdbdb;
    --widget: #303030;
    --widget-hidden: #212121;
    
    --main-white: #ededed;
    --main-white-shade: #dbdbdb;
    --main-black: #181818;
    --main-black-shade: #292929;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
