.title {
  font-size: 1.875rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--foreground);
}

.description {
  text-align: center;
  color: var(--foreground-shade);
  margin-bottom: 2rem;
}

.tagItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--widget);
  border: 1px solid var(--background-shade1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: grab;
  transition: border-color 0.2s, background-color 0.2s;
}

.tagItem:active {
  cursor: grabbing;
}

.tagItem:hover {
  border-color: var(--main);
}

.tagName {
  font-weight: 500;
  color: var(--foreground);
}

.tagInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.priorityText {
  font-size: 0.875rem;
  color: var(--foreground-shade);
}

.btnSave {
  flex: 1;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 700;
  color: var(--main-white);
  background-color: var(--main);
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.btnSave:hover:not(:disabled) {
  background-color: var(--main-dark);
}

.btnSave:disabled {
  background-color: var(--background-shade1);
  opacity: 0.5;
  cursor: not-allowed;
}

.btnReset {
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
  background: none;
  border: 1px solid var(--background-shade1);
  color: var(--foreground);
  cursor: pointer;
  transition: background-color 0.2s;
}

.btnReset:hover {
  background-color: var(--background-shade);
}

.pageContainer {
  max-width: 42rem;
  margin: 0 auto;
  padding: 1rem 1rem 0;
  background-color: var(--background);
  color: var(--foreground);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.actions {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  gap: 1rem;
  padding: 1.0rem 0;
  margin-top: auto;
  background-color: var(--background);
  z-index: 100; 
}

.listContainer {
  padding: 0.5rem;
  border-radius: 0.75rem;
  border: 1px solid var(--background-shade1);
  background-color: var(--background-shade);
  margin-bottom: 1rem;
}